In [1]:
# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

In [2]:
# List of daily tips
cash_tips = [22, 10, 30, 45, 54, 60, 56]

In [3]:
# Showcase every tip in the list
for tip in cash_tips:
    print(tip)

22
10
30
45
54
60
56

In [5]:
# Iterate over each element of the list to determine metrics
for tip in cash_tips:
    count +=1
    total +=tip
    
    # Logic to determine minimum values
    if minimum == 0:
        minimum = tip
    elif tip < minimum:
        minimum = tip
        
    # Logic to determine maximum values 
    if tip > maximum:
        maximum = tip

In [6]:
minimum

10

In [7]:
maximum

60

In [8]:
count

7

In [9]:
total

277

In [10]:
# Calculate the average
average = round(total / count, 2)
average

39.57

In [16]:
price = 201.5
shares = 2394000000

In [14]:
def market_cap(price, shares):
    cap = price*shares
    
    return cap

In [17]:
market_cap(price, shares)

482391000000.0

In [18]:
import difflib

code1 = """def hello():
    print("Hello, World!")"""

code2 = """def hello():
    print("Hi, World!")"""

d = difflib.Differ()
diff = list(d.compare(code1.splitlines(), code2.splitlines()))

print("\n".join(diff))

  def hello():
-     print("Hello, World!")
?             ^^^^

+     print("Hi, World!")
?             ^

In [19]:
1170593+755566

1926159

In [20]:
38382578/86

446309.0465116279

In [23]:
import pandas as pd

# Creating a multi-index DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}

{'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}

In [24]:
index = pd.MultiIndex.from_tuples([('X', 'foo'), ('X', 'bar'), ('Y', 'foo'), ('Y', 'bar'), ('Z', 'foo')],
                                  names=['Index1', 'Index2'])

In [25]:
df = pd.DataFrame(data, index=index)
df

               A   B
Index1 Index2
X      foo     1  10
       bar     2  20
Y      foo     3  30
       bar     4  40
Z      foo     5  50

In [27]:
df.iloc[(2,1)]

30