## List Comprehension

In [2]:
# Example of looping through string and appending to list

my_list = []

for char in 'hello':
    my_list.append(char)
    
my_list

['h', 'e', 'l', 'l', 'o']

In [3]:
# Now do same using list comp

# list comp will follow the format of:

# some_list = [parm for parm in iterable conditional/if statement]
    #where the iterable could be be a list, string ... 
    #if statement comes at end no comma between
    #some_list is what the new output will be
    
my_new_list = [char for char in 'hello']
my_new_list

['h', 'e', 'l', 'l', 'o']

In [4]:
# we are creating a varible (char above) and the for each variable in the iterable we add it to the list

In [7]:
#create a new list with numbers from 0-100

my_list2 = [num for num in range(0,101)]
#my_list2

In [9]:
# Now what if we wanted to multiply all the numbers in the list by 2

my_list3 = [num*2 for num in range(0,101)]
#my_list3

In [11]:
# in the creation of the vaiable we can operate on it as in above (num*2)

#square the list
my_list4 = [num**2 for num in range(0,101)]
#my_list4

In [16]:
# take evens and square

my_list5 = [num**2 for num in range(0,101) if num %2 ==0]
#my_list5

## Set Comprehension

In [17]:
# same as list comp but replace with {}
# remember that sets HAVE NO DUPS

## Dictionary Comprehension

In [20]:
simple_dict = {
    'a':1,
    'b':2,
    'c':3
}

#now if we want to multiply the numbers (values) in simple_dict:
my_dict = {key:value*2 for key,value in simple_dict.items()}
my_dict

{'a': 2, 'b': 4, 'c': 6}

In [21]:
#square the simple_dict and only add even values

my_dict2 = {key:value**2 for key,value in simple_dict.items() if value % 2 == 0}
my_dict2

{'b': 4}

In [22]:
# we want to create a dictionary from a list where the key is the num in list and the value is the number squared

# use the list 1, 2, 3, 4

new_dict = {num:num**2 for num in [1, 2, 3, 4]}
new_dict

{1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
# Checking for dups example
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = [i for i in some_list if some_list.count(i) > 1]
duplicates

['b', 'b', 'n', 'n']

In [24]:
# if we dont want to see all the repeats, can convert to a set
set(duplicates)

{'b', 'n'}

In [25]:
#and then if we want a list

list(set(duplicates))

['b', 'n']